---
lang: sv
layout: default
title: Raal
translate: /en/
---
<ul class="collection">
    {% assign posts = site.posts | where: "lang", page.lang %}
    {% for post in posts %}
        <li>
            <article class="news">
                <div>
                    <header>
                        <h2>{{ post.title }}</h2>
                        <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%Y-%m-%d" }}</time>
                    </header>
                    {{ post.content }}
                </div>
                {% if post.image %}
                    <div>
                        <img src="{{ post.image }}" alt="{{ post.alt }}">
                    </div>
                {% endif %}
            </article>
        </li>
    {% endfor %}
</ul>