---
lang: en
layout: default
title: Music | Raal
translate: /musik/
---
<ul class="collection">
    {% for release in site.releases reversed %}
        <li>
            <article class="release">
                <header>
                    <h2 id="{{ release.cid }}">
                        {{ release.title }}
                        {% if release.feat %}
                            {% assign last = release.feat.size | minus: 1 %}
                            <strong>
                                with
                                {% for artist in release.feat %}
                                    {{ artist }}
                                    {%- if forloop.index < last -%}
                                        ,
                                    {% elsif forloop.index < forloop.length %}
                                        and
                                    {% endif %}
                                {% endfor %}
                            </strong>
                        {% endif %}
                    </h2>
                    <time datetime="{{ release.date | release: '%Y' }}">{{ release.date | date: "%Y" }}</time>
                </header>
                {% if release.image %}
                    <div class="image">
                        <img src="{{ release.image.path }}" alt="{{ release.image.alt }}">
                    </div>
                {% endif %}
                {% if release.files %}
                    <section>
                        <h3><span class="icon download" aria-hidden="true"></span><span>Download</span></h3>
                        <ul class="inline">
                            {% for file in release.files %}
                                <li>
                                    <a href="{{ file.path }}" download="Raal - {{ release.title }}"><span class="upper">{{ file.type.name }}</span><span class="icon file-audio" aria-hidden="true"></span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
                <section class="accordion">
                    <h3>
                        <button id="accordionButton{{ release.cid | capitalize }}" aria-controls="accordionContent{{ release.cid | capitalize }}" aria-expanded="false">Lyrics</button>
                    </h3>
                    <div id="accordionContent{{ release.cid | capitalize }}" aria-labelledby="accordionButton{{ release.cid | capitalize }}" hidden role="region">
                        {{ release.content }}
                    </div>
                </section>
            </article>
        </li>
    {% endfor %}
</ul>