---
lang: en
layout: default
title: Music | Raal
translate: /musik/
---
<ul class="collection">
    {% for release in site.releases reversed %}
        <li>
            <article class="release">
                <header>
                    <h2 id="{{ release.r_id }}">{{ release.title }}</h2>
                    <time datetime="{{ release.date | release: '%Y' }}">{{ release.date | date: "%Y" }}</time>
                </header>
                {% if release.image %}
                    <section class="image">
                        <img src="{{ release.image.path }}" alt="{{ release.image.alt }}">
                    </section>
                {% endif %}
                {% if release.files %}
                    <section>
                        <h3><span class="icon download" aria-hidden="true"></span><span>Download</span></h3>
                        <ul class="inline">
                            {% for file in release.files %}
                                <li>
                                    <a href="{{ file.path }}" download="{{ file.name }}"><span>{{ file.type }}</span><span class="icon file-audio" aria-hidden="true"></span></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
                <section class="accordion">
                    <h3>
                        <button id="accordionButton{{ release.r_id }}" aria-controls="accordionContent{{ release.r_id }}" aria-expanded="false">Lyrics</button>
                    </h3>
                    <div id="accordionContent{{ release.r_id }}" aria-labelledby="accordionButton{{ release.r_id }}" hidden>
                        {{ release.content }}
                    </div>
                </section>
            </article>
        </li>
    {% endfor %}
</ul>