{% assign d = include.date | date: '%A' %}
{% case d %}
    {% when 'Monday' %} Måndag
    {% when 'Tuesday' %} Tisdag
    {% when 'Wednesday' %} Onsdag
    {% when 'Thursday' %} Torsdag
    {% when 'Friday' %} Fredag
    {% when 'Saturday' %} Lördag
    {% when 'Sunday' %} Söndag
{% endcase %}
{{ 'den' }}
{{ include.date | date: '%-d' }}
{% assign m = include.date | date: '%-m' %}
{% case m %}
    {% when '1' %} januari
    {% when '2' %} februari
    {% when '3' %} mars
    {% when '4' %} april
    {% when '5' %} maj
    {% when '6' %} juni
    {% when '7' %} juli
    {% when '8' %} augusti
    {% when '9' %} september
    {% when '10' %} oktober
    {% when '11' %} november
    {% when '12' %} december
{% endcase %}
{{ include.date | date: '%Y' }}