<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.lang == "en" %}
        <meta name="robots" content="noindex">
    {% endif %}

    <title>{{ page.title }}</title>

    <link rel="icon" href="{{ '/assets/brand/favicon.svg' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/assets/brand/apple-touch-icon.png' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/brand/styles.css?v=' | append: site.version | relative_url }}">

    {% for feed in site.feeds %}
        {% unless feed.uuid == "d33f4134-b1dd-4482-9f7e-685c224da740" %}
            <link rel="alternate" title="{{ feed.title | xml_escape }}" type="{{ feed.mime }}" href="{{ feed.permalink }}">
        {% endunless %}
    {% endfor %}
</head>