<!DOCTYPE html>
<html lang="sv-SE-u-sd-seac">
{% include head.html %}
<body>
    <a href="#main" class="skip-to-main">
        <span lang="sv">Hoppa till huvudinnehåll</span>
        <span lang="en">Skip to main content</span>
    </a>
    <form>
        <label for="langSelect">
            <span lang="sv">Språk</span>
            <span lang="en">Language</span>
        </label>
        <select id="langSelect">
            <option value="sv" selected>Svenska</option>
            <option value="en">English</option>
        </select>
    </form>
    <header>
        {% include nav.html %}
        <h1>Raal</h1>
    </header>
    <main id="main">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
