{% if page.lang == "sv" %}
    {% assign skip_link_text = "Hoppa till huvudinnehåll" %}
    {% assign lang_link_text = "English" %}
    {% assign lang_link_lang = "en" %}
{% else %}
    {% assign skip_link_text = "Skip to main content" %}
    {% assign lang_link_text = "Svenska" %}
    {% assign lang_link_lang = "sv" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body>
    <a href="#main" id="skipToMain">{{ skip_link_text }}</a>
    <a href="{{ page.translate | relative_url }}" lang="{{ lang_link_lang }}">{{ lang_link_text }}</a>
    <header>
        {% include nav.html %}
        <h1 lang="sv-SE-u-sd-seac">Raal</h1>
    </header>
    <main id="main">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
