{% if page.lang == "sv" %}
    {% assign skip_link_text = "Hoppa till huvudinnehåll" %}
    {% assign lang_link_text = "English" %}
    {% assign lang_link_lang = "en" %}
{% else %}
    {% assign skip_link_text = "Skip to main content" %}
    {% assign lang_link_text = "Svenska" %}
    {% assign lang_link_lang = "sv" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}
<body>
    <a href="#main" id="skipToMain">{{ skip_link_text }}</a>
    <!-- <a href="{{ page.translate | relative_url }}" id="changeLang" lang="{{ lang_link_lang }}">
        <div class="earth-europe" aria-hidden="true"></div>
        <span>{{ lang_link_text }}</span>
    </a> -->
    <header id="bodyHeader">
        <h1 lang="sv-SE-u-sd-seac">Raal</h1>
    </header>
    {% include nav.html %}
    <main class="narrow" id="main">
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>
